.themes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Ajoute un espacement entre les colonnes */
    border-radius: 20px;
    margin: 20px;
  }
  

.button-container {
  display: flex;
  justify-content: center;
}


.header-container{

 
  height: 60px;
}

.custom-toolbar {
  justify-content: flex-end;
  background-color: #ffffff; /* Couleur blanche pour correspondre à la maquette */
  height: 60px; /* Ajuste la hauteur */
  border-bottom: 1px solid #ccc; /* Ligne fine en bas pour la séparation */
}
.btn-bar {
  margin-right: 10px;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  color: #000000;
  transition: background-color 0.3s;
}
.btn-bar-theme{
  background: none;
  border: none;
  color: #742ce9; /* Couleur du texte */
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 25px;
  
}

img {
  cursor: pointer; /* Ajoute une main au survol de l'image */
}



  .theme-item {
    flex: 1 1 45%; /* 45% pour laisser un peu d'espace entre les colonnes */
    box-sizing: border-box;
    padding: 10px;
    background-color: rgb(247, 243, 244);
   font-style: bold;
  }
  

  
  .btn-primary { 
    background-color: rgb(143, 119, 209); /* Couleur de fond violette */ 
    color: white; /* Couleur du texte blanche */ 
    border-radius: 10px; /* Coins arrondis */ 
    border: none; /* Supprime la bordure par défaut */ 
    padding: 10px 20px; /* Ajoute du padding pour un meilleur aspect visuel */ 
    font-size: 16px; /* Taille de la police */ 
    cursor: pointer; /* Change le curseur pour pointer lors du survol */ 
    transition: background-color 0.3s; /* Ajoute une transition pour l'effet de survol */ 
    
   
  }
 
  
  /* Ajoute une requête de média pour les petits écrans */
  @media (max-width: 768px) {
    .theme-item {
      flex: 1 1 100%; /* Prend toute la largeur de l'écran */
    }
  }
  