<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thèmes</title>
</head>
<body>
    <!-- Logo à gauche -->
  
    <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" class="custom-toolbar">
      <img src="assets/logo_p6.png" class="logo">
      <div class="right-section">
        <span class="toolbar-buttons">
          <button mat-button class="btn-violet" (click)="navigateToThemes()">Thèmes</button>
          <button mat-button class="btn-black" (click)="navigateToArticle()">Articles</button>

        </span>
        <img src="assets/profil.png" class="profile-pic" (click)="navigateToMe()">
      </div>
    </mat-toolbar>
    

  <div class="themes-container">
    <mat-card *ngFor="let theme of themes" class="theme-item">
      <mat-card-title><strong>{{ theme.title }}</strong></mat-card-title>
      <mat-card-content>{{ theme.description }}</mat-card-content>
      <mat-card-actions>
        <div class="button-container">
          <button class="btn btn-primary" (click)="subscribe(theme)">S'abonner</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</body>
</html>

