.card-title h1 {
  text-align: center;
  width: 100%;
}

.input-field {
  border-radius: 25px;
  width: 100%;
  max-width: 400px;
  margin: 10px 0; /* Add margin to create space between fields */
}

.m3 mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.custom-button {
  background-color: rgb(143, 119, 209) !important; /* Couleur de fond violette */
  color: white !important; /* Couleur du texte blanche */
  border-radius: 10px !important; /* Coins arrondis */
  border: none !important; /* Supprime la bordure par défaut */
  padding: 10px 20px !important; /* Ajoute du padding pour un meilleur aspect visuel */
  font-size: 16px !important; /* Taille de la police */
  cursor: pointer !important; /* Change le curseur pour pointer lors du survol */
  transition: background-color 0.3s !important; /* Ajoute une transition pour l'effet de survol */
}

.custom-button:hover {
  background-color: rgb(122, 98, 187) !important; /* Slightly darker shade for hover effect */
}

.btn-red {
  color: red !important; /* Change button text color to red */
}




.card-title h1 {
  text-align: center;
  width: 100%;
}

.input-field {
  border-radius: 25px;
  width: 100%;
  max-width: 400px;
  margin: 10px 0; /* Add margin to create space between fields */
}

.m3 mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.custom-button {
  background-color: rgb(143, 119, 209) !important; /* Couleur de fond violette */
  color: white !important; /* Couleur du texte blanche */
  border-radius: 10px !important; /* Coins arrondis */
  border: none !important; /* Supprime la bordure par défaut */
  padding: 10px 20px !important; /* Ajoute du padding pour un meilleur aspect visuel */
  font-size: 16px !important; /* Taille de la police */
  cursor: pointer !important; /* Change le curseur pour pointer lors du survol */
  transition: background-color 0.3s !important; /* Ajoute une transition pour l'effet de survol */
}

.custom-button:hover {
  background-color: rgb(122, 98, 187) !important; /* Slightly darker shade for hover effect */
}

.btn-red {
  color: red !important; /* Change button text color to red */
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-title {
  text-align: center;
  width: 100%;
}

.card-title h1 {
  text-align: center;
  width: 100%;
  font-weight: bold;
}

mat-card {
  margin: 10px;
}

.cards-container > div {
  box-sizing: border-box;
  width: 100%; /* Full width for mobile */
}

@media (min-width: 768px) {
  .cards-container > div {
    width: calc(50% - 10px); /* Two columns for tablets and above */
  }
}
