.container {
  margin-top: 4rem;
}

.article-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espacement entre les articles */
  margin-left: 20px;
  margin-right: 20px;
}

.article-item {
  flex: 1 1 calc(50% - 20px); /* Prend 50% de la largeur moins l'espacement */
  box-sizing: border-box;
}

.article-card {
  width: 100%;

  background-color: rgb(247, 243, 244);

}

.custom-btn {
  background-color: rgb(143, 119, 209); /* Purple color */
  color: white; /* White text */
  border: none;
  padding: 10px 20px;
  border-radius: 8px; /* Rounded corners */
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 20px;
}

.custom-btn:hover {
  background-color: rgb(143, 119, 209); /* Darker shade of purple for hover effect */
}

@media (min-width: 768px) {
  .article-item {
    flex: 1 1 calc(50% - 20px); /* Deux colonnes */
  }
}

@media (max-width: 767px) {
  .article-item {
    flex: 1 1 100%; /* Une seule colonne */
  }
}
