.custom-toolbar {
  justify-content: flex-end;
  background-color: #ffffff;
  height: 60px;
  border-bottom: 1px solid #ccc;
}

.btn-bar {
  margin-right: 10px;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  color: #000000;
  transition: background-color 0.3s;
}

img {
  cursor: pointer;
}

.btn-primary {
  background-color: rgb(143, 119, 209);
  color: white;
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
  margin-left: 20px;
}

.container {
  margin: 20px; /* Ajoute une marge de 20px autour du conteneur */
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-md-6 {
  flex: 1 1 calc(50% - 20px); /* Deux colonnes avec un espace de 20px */
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.mat-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
 
}

.mat-card-header {
  display: flex;
  flex-direction: column;
}

.mat-card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.mat-card-subtitle {
  font-size: 1rem;
  color: #888;
  margin-bottom: 0.3rem;
}

.mat-card-content {
  margin-top: 10px;
  font-size: 1rem;
  color: #333;
}

.mat-card-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

/* Ajoute une requête de média pour les petits écrans */
@media (max-width: 768px) {
  .col-md-6 {
    flex: 1 1 100%; /* Une seule colonne sur les petits écrans */
  }
}
