<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thèmes</title>
</head>
<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" class="custom-toolbar">
  <img src="assets/logo_p6.png" style="height: 40px; margin-right: 10px;">
  <span>
    <button class="btn btn btn-bar" (click)="navigateToThemes()">Themes</button>
    <button class="btn btn-bar" (click)="navigateToArticle()">Article</button>
  </span>
  <img src="assets/profil.png" style="height: 40px; margin-right: 10px;" (click)="navigateToMe()">
</mat-toolbar>


<button class="btn btn-primary" (click)="navigateToCreateArticle()">Créer un article</button>

<!-- Liste des Articles -->
<div class="container mt-4">
  <div class="row">
    <div class="col-md-6" *ngFor="let article of articles">
      <mat-card class="mb-4">
        <mat-card-header>
          <mat-card-title>{{ article.title }}</mat-card-title>
          <mat-card-subtitle>
            <span>{{ article.date | date: 'longDate' }}</span>
            <span>{{ article.author.username }}</span>
            <span>{{ article.theme.title }}</span>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{ article.description }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="viewArticle(article.id)">Lire</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
