<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thèmes</title>
</head>
<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" class="custom-toolbar">
  <img src="assets/logo_p6.png" class="logo">
  <div class="right-section">
    <span class="toolbar-buttons">
      <button mat-button class="btn-violet" (click)="navigateToThemes()">Thèmes</button>
      <button mat-button class="btn-black" (click)="navigateToArticle()">Articles</button>
    
    </span>
    <img src="assets/profil.png" class="profile-pic" (click)="navigateToMe()">
  </div>
</mat-toolbar>


<button class="custom-btn" (click)="navigateToCreateArticle()">Créer un article</button>

<!-- Liste des Articles -->
<div class="container mt-4">
  <div class="article-grid">
    <div *ngFor="let article of articles" class="article-item">
      <mat-card class="mb-4 article-card">
        <mat-card-header>
          <mat-card-title>{{ article.title }}</mat-card-title>
          <mat-card-subtitle>
            <span>{{ article.date | date: 'longDate' }}</span><br>
            <span>{{ article.author.username }}</span>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{ article.description }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="viewArticle(article.id)">Lire</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
