<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" class="custom-toolbar">
  <img src="assets/logo_p6.png" style="height: 40px; margin-right: 10px;">
  <span>
    <button class="btn btn btn-bar" (click)="navigateToThemes()">Themes</button>
    <button class="btn btn-bar" (click)="navigateToArticle()">Article</button>
  </span>
  <img src="assets/profil.png" style="height: 40px; margin-right: 10px;" (click)="navigateToMe()">
</mat-toolbar>

<div *ngIf="article">
  <h1>{{ article.title }}</h1>
  <p><strong>Auteur :</strong> {{ article.author.username }}</p>
  <p><strong>Date :</strong> {{ article.date }}</p>
  <p><strong>Thème :</strong> {{ article.theme.title }}</p>
  <p><strong>Description :</strong> {{ article.description }}</p>

  <div>
    <h2>Commentaires</h2>
    <div *ngFor="let comment of comments">
      <p><strong>{{ comment.author.username }}</strong> ({{ comment.date }}):</p>
      <p>{{ comment.content }}</p>
    </div>

    <mat-form-field>
      <mat-label>Ajouter un commentaire</mat-label>
      <textarea matInput [(ngModel)]="newComment"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addComment()">Commenter</button>
  </div>
</div>
<div *ngIf="!article">
  <p>Chargement...</p>
</div>
