<form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field fxFlex>
      <input matInput placeholder="Username" formControlName="username">
      <mat-error *ngIf="form.get('username')?.invalid && (form.get('username')?.dirty || form.get('username')?.touched)">
        Le nom d'utilisateur est requis.
      </mat-error>
    </mat-form-field>
  
    <mat-form-field fxFlex>
      <input matInput placeholder="Email" formControlName="email" type="email">
      <mat-error *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)">
        Veuillez entrer un email valide.
      </mat-error>
    </mat-form-field>
  
    <mat-form-field fxFlex>
      <input matInput placeholder="Password" formControlName="password" type="password">
      <mat-error *ngIf="form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)">
        Le mot de passe doit contenir au moins 8 caractères, une majuscule, une minuscule, un chiffre et un caractère spécial.
      </mat-error>
    </mat-form-field>
  
    <button mat-raised-button color="primary" [disabled]="form.invalid">Soumettre</button>
    
    <div *ngIf="onError" class="error-message">
      Une erreur est survenue lors de l'inscription. Veuillez réessayer.
    </div>
  </form>
  