body{
  height: 100%;
  width:  100%;
}
.buttons {
  box-sizing: border-box;

position: absolute;
width: 377px;
height: 40px;
left: 430.5px;
top: 568px;

background: #FFFFFF;
margin-left: 20%;
border-radius: 8px;

}
.logo{
  /* logo_p6 1 */

position: absolute;
width: 412px;
height: 238px;
left: 411px;
top: 286px;
margin-left: 18%;


}
.home-container{


position: absolute;
width: 835px;
height: 584px;
left: 199px;
top: 199px;

background: #FFFFFF;
border: 1px solid #000000;
}