/* Global Styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

/* Form Container */
.container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;

  border-radius: 8px;
}

.form-title {
  text-align: center;
  margin-bottom: 20px;
  font-style: bold;
}
.custom-button {
  background-color: rgb(143, 119, 209) !important; /* Couleur de fond violette */
  color: white !important; /* Couleur du texte blanche */
  border-radius: 10px !important; /* Coins arrondis */
  border: none !important; /* Supprime la bordure par défaut */
  padding: 10px 20px !important; /* Ajoute du padding pour un meilleur aspect visuel */
  font-size: 16px !important; /* Taille de la police */
  cursor: pointer !important; /* Change le curseur pour pointer lors du survol */
  transition: background-color 0.3s !important; /* Ajoute une transition pour l'effet de survol */
}


/* Form Styles */
form {
  display: flex;
  flex-direction: column;
  
}

.custom-field {
  margin-bottom: 20px;
  width: 100%;

}


